<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/js/*'
            'bundles/sonataadmin/vendor/jquery/dist/jquery.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets '@application_sonata_admin' filter='uglifycss' filter='cssrewrite' output='css/sonata.admin.css'%}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            {% block navbar %}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>

    </body>
</html>
