{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    <div class="">
        {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
    </div>
{% endblock %}

{% block sonata_profile_content %}
    {% sonata_template_box 'This is the user profile edition template. Feel free to override it.' %}

    {{ form_errors(form) }}

    {% form_theme form _self %}

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">{{ "title_user_account" | trans({}, 'SonataUserBundle')}}</h3>
        </div>
        <div class="box-body">
            {% include "SonataUserBundle:Profile:edit_profile_content.html.twig" %}
        </div>
    </div>

    {#{% render url("sonata_user_profile_edit_authentication") %}#}
{% endblock %}
