{% extends 'ApplicationSonataUserBundle:Profile:show.html.twig' %}
    {% block page_title %}Доступны следующие услуги{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block sonata_profile_content %}


            <table class="table table-striped table-responsive">
                {% for service in services %}
                    <tr>
                        <td><div ><input type="checkbox" class="knocker" id="{{ service.id }}" value="{{ service.id }}" name="service[]"></div> </td>
                        <td>{{ service.name }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a class="btn btn-success" id="button">Сформировать пакет услуг</a>


{% block ajax %}

    <script>
        $('body').on('click', 'a[id=button]', function(){
            var data = $('input[type=checkbox]:checked').serializeArray();
                $.ajax({
                    type: "POST",
                    url: "{{ path('createBooking') }}",
                    data: {parameters: data},
                    success: function(data) {
                        alert(data);
                    },
                    error:  function(xhr, str){
                        alert('error');
                    }
                });
        });
    </script>
{% endblock %}
{% endblock %}